.header{
  background: #68c93e;
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.trolley{
  position: relative;
}

.trolley img{
  width: 30px;
}

.count{
  background: #2d3c8D;
  padding: 10px;
  border-radius: 50%;
  min-width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  color: white;
  font-size: 11px;
  position: absolute;
  bottom: -8px;
  left: -13px;
}

.card{
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 10px;
    width: 320px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
}

.card p.product-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .6px;
}

.card p.price{
  font-size: 16px;
  font-weight: 700;
    color: #f5a623;
}

.card img{
  width: 100%;
      height: auto;
      margin: auto;
      display: block;
}

.counter button{
  font-size: 16px;
  border-radius: 4px;
    padding: 10px 18px 10px 18px;
    background-color: #2d3c8d;
    color: #fff;
    text-align: center;
    border: none;
    font-size: 12px;
}

.counter input{
    margin: 10px;
    padding: 10px 18px 10px 18px;
    text-align: center;
    font-size: 12px;
}
