.blog-wrapper{
  padding: 2%;
  box-sizing: border-box;
  width: 20%;
  display: inline-block;
}

.img-thumb{
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.img-thumb img{
  width: 100%;
}

p.utama{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

p.judul{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px;
  margin-top: 10px;
  color: #2D2D2D
}

p.deskripsi{
  font-size: 14px;
  margin: 0px;
  margin-top: 2px;
}
